{
  "clientId": "BotのクライアントID",
  "guildId": "コマンドを登録するサーバーのID (nullの場合はグローバルコマンド)",

  "dbName": "データベース名",
  "admin": {
    "guild": "管理用コマンドを登録するサーバーのID",
    "error": "例外発生時にログを送信するチャンネル",
    "users": [
      "管理用コマンドを使用できるユーザーのID"
    ]
  },

  "blackList": {
    "guilds": [],
    "users": []
  }
}